<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    @media (min-width: 1025px) {
      .h-custom {
        height: 100vh !important;
      }
    }

    .card-registration .select-input.form-control[readonly]:not([disabled]) {
      font-size: 1rem;
      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
    }

    .card-registration .select-arrow {
      top: 13px;
    }

    .bg-grey {
      background-color: #eae8e8;
    }

    @media (min-width: 992px) {
      .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }

    @media (max-width: 991px) {
      .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }
    }
  </style>

</head>

<body>

  <section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{ num }} item</h6>
                    </div>
                    {% for item in cart_items %}
                    <hr class="my-4">

                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img src="{{ item.product.main_image.url}}" class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{ item.product.proname }}</h6>
                        <h6 class="text-black mb-0">{{ item.product.category.categoryname }}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <form action="{% url 'minusquantity' item.product.id %}" method="post">
                          {% csrf_token %}
                          <button class="btn btn-link px-2" type="submit">
                            <i class="fas fa-minus"></i>
                          </button>
                        </form>
                        <input id="prodCountInput" min="1" name="quantity" value="{{ item.quantity }}" type="number"
                          data-prodId="{{ item.product.id }}" class="form-control form-control-sm" />
                        <form action="{% url 'addquantity' item.product.id %}" method="post">
                          {% csrf_token %}
                          <button class="btn btn-link px-2" type="submit">
                            <i class="fas fa-plus"></i>
                          </button>
                        </form>
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        {% if item.product.dprice > 0 %}
                        <h6 class="mb-0">€{{ item.product.dprice }}</h6>
                        {% else %}
                        <h6 class="mb-0">€{{ item.product.price }}</h6>
                        {% endif %}
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="{% url 'removefromcart' item.id %}" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                      <div class="text-center">
                        {%for message in messages %}<p>{{ message }}</p>{% endfor %}
                      </div>

                    </div>
                    {% endfor %}
                    <hr class="my-4">

                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'home' %}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
                    <form action="{% url 'cart' %}" method="post">
                      {% csrf_token %}

                      <div class="d-flex justify-content-between mb-4">
                        <h5 class="text-uppercase">{{ num }} item</h5>
                        <h5>€ {{total}}</h5>
                      </div>

                      <h5 class="text-uppercase mb-3">Select Address</h5>

                      <div class="mb-4 pb-2">
                        <select class="select" style="width: 20rem;" name="selected_address">
                          {% for addr in addre %}
                          <option value="{{ addr.id }}"
                            style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{addr.address_line1 }}, {{ addr.address_line2 }}, {{ addr.city }}, {{ addr.state }}, {{addr.country }}, {{ addr.postal_code }}</option>
                          {% endfor %}
                        </select>
                        <a class="btn btn-primary" href="{% url 'addaddress' %}">Add Address</a>
                      </div>

                      <h5 class="text-uppercase mb-3">Coupon</h5>
                      <div class="mb-4 pb-2">
                        <input type="text" class="form-control" name="coupon" placeholder="Enter coupon code" aria-label="Coupon code" aria-describedby="apply-coupon-button">
                      </div>
                      <hr class="my-4">

                      <h5 class="text-uppercase mb-3">Payment method</h5>


                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_option" id="cod_option" value="cod" checked>
                        <label class="form-check-label" for="cod_option">
                          <i class="fas fa-money-bill-wave me-2"></i>COD
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_option" id="emi_option" value="upi">
                        <label class="form-check-label" for="emi_option">
                          <i class="fa-solid fa-building-columns me-2"></i>UPI/BANK
                        </label>
                      </div>

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="payment_option" id="emi_option"
                          value="wallet">
                        <label class="form-check-label" for="emi_option">
                          <i class="fa-solid fa-building-columns me-2"></i>Wallet
                        </label>
                      </div>




                      <hr class="my-4">

                      <div class="d-flex justify-content-between mb-5">
                        <h5 class="text-uppercase">Total price</h5>
                        <h5>€{{total}}</h5>
                      </div>

                      <button type="submit" class="btn btn-dark btn-block btn-lg"
                        data-mdb-ripple-color="dark">Checkout</button>
                    </form>
                    <div>{%for message in messages %}<p>{{ message }}</p>{% endfor %}</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


</body>

</html>