{%load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Otp-Verification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center continer">
      <div class="card py-5 px-3">
        <h5 class="m-0">Mobile phone verification</h5>
        <span class="mobile-text"
          ><b>Enter the code we just sent on your phone</b>
          <b class="text-color">+91 09899619282</b>
        </span>
        <form method="POST" action="{% url 'verify_otp' %}">
          {% csrf_token %}
        <div class="d-flex flex-row mt-5">
          <input type="text" name="verify_otp">
          
        </div>
        <div class="text-center mt-5">
          <span class="d-block mobile-text" id="countdown"></span>
          <span class="d-block mobile-text" id="resend"></span>
        </div>
        <div id="formFooter">
            {% for message in messages %}<p class="small fw-bold mt-2 pt-1 mb-0 alert">{{ message }}</p>{% endfor %}
            
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
          </div>
      </div>
    </div>
    
  </body>
</html>
